@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1657873580661') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rmb:before {
  content: "\e703";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-arrow-up:before {
  content: "\e745";
}

.icon-category:before {
  content: "\e747";
}

.icon-close:before {
  content: "\e748";
}

.icon-falling:before {
  content: "\e750";
}

.icon-good:before {
  content: "\e753";
}

.icon-leftbutton-fill:before {
  content: "\e782";
}

.icon-Rightbutton-fill:before {
  content: "\e78a";
}

.icon-favorites:before {
  content: "\e7b3";
}

.icon-search:before {
  content: "\e7b4";
}

.icon-hongbao:before {
  content: "\ed6a";
}

.icon-touxiang:before {
  content: "\e75f";
}

.icon-peizhi:before {
  content: "\e760";
}

.icon-bianji:before {
  content: "\e67f";
}

.icon-dingdan:before {
  content: "\e680";
}

.icon-biyan:before {
  content: "\e681";
}

.icon-erweima:before {
  content: "\e682";
}

.icon-jiazaizhong:before {
  content: "\e683";
}

.icon-shuaxin:before {
  content: "\e684";
}

.icon-yanjing:before {
  content: "\e685";
}

.icon-yanzhengma:before {
  content: "\e686";
}

.icon-a-zujiantianchong_huaban1fuben10:before {
  content: "\e6db";
}

.icon-a-zujiantianchong_huaban1fuben7:before {
  content: "\e6dc";
}

.icon-a-zujiantianchong_huaban1fuben17:before {
  content: "\e6dd";
}

.icon-a-zujiantianchong_huaban1fuben12:before {
  content: "\e6de";
}

.icon-more:before {
  content: "\e609";
}

.icon-warning:before {
  content: "\e60c";
}

.icon-shouye:before {
  content: "\e764";
}

.icon-shipin:before {
  content: "\e765";
}

.icon-wenjianjia:before {
  content: "\e766";
}

.icon-tupian:before {
  content: "\e767";
}

.icon-tongzhi:before {
  content: "\e768";
}

.icon-butongguo:before {
  content: "\e769";
}

.icon-baocun:before {
  content: "\e76a";
}

.icon-tuihui:before {
  content: "\e76b";
}

.icon-tijiao:before {
  content: "\e76c";
}

.icon-tongguo:before {
  content: "\e76d";
}

.icon-icon-shouye:before {
  content: "\e61c";
}

.icon-icon-sousuo:before {
  content: "\e61e";
}

.icon-icon-xiazai:before {
  content: "\e62c";
}

.icon-icon-gengduo:before {
  content: "\e635";
}

